#quiz label ~ h3 {
	font-size: 1.25rem;
}

.container .option_item {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.container .option_item .checkbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	width: 1px;
	height: 1px;
}

.option_item .option_inner {
	width: 100%;
	height: auto;
	background: #fff;
	border-radius: var(--border-radius-medium);
	text-align: center;
	cursor: pointer;
	color: #585c68;
	display: block;
	border: 1px solid #e0e0e0;
	position: relative;
	overflow: hidden;
}

.shadow-wrapper {
	background-image: url(../quiz/ico/checked.svg);
	background-color: rgba(0, 0, 0, 0.5);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	padding: 15px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.checkbox:checked ~ .option_inner .shadow-wrapper {
	opacity: 50;
}

.shadow-wrapper-decoration {
	width: 100%;
	height: 100%;
	border: 1px solid #ffffff;
	border-radius: var(--border-radius-small);
}

.shadow-wrapper-box {
	background-image: url(../quiz/ico/checked.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	padding: 15px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.checkbox:checked ~ .option_inner .shadow-wrapper-box {
	opacity: 1;
}

.checkbox:checked ~ .option_inner {
	position: relative;
}

/* Input file */
.custom-file-button input[type='file'] {
	/* margin-left: -2px; */
	color: #191919;
	font-family: HelveticaNeueCyr-Light;
	font-size: 18px;
	font-size: 18px;
}

.custom-file-button input[type='file']::-webkit-file-upload-button {
	display: none;
}

.custom-file-button input[type='file']::file-selector-button {
	display: none;
}

.custom-file-button:hover label {
	background-color: #d17c00;
	cursor: pointer;
}

.custom-file-button .form-control {
	border: none;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	margin-left: 0;
	padding-top: 10px;
}

/*
.input-group-text {
    display: flex;
	height: 60px;
    align-items: center;
    padding-top: 5px;
	padding-left: 55px;
	padding-right: 55px;
	font-family: Gilroy-Black;
    font-weight: 800;
	font-style: normal;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    /*background-color: #f49100;*
	background: linear-gradient(91.89deg, #FC4A1A -16.07%, #F7B733 124.94%);
    /*border: 1px solid #f49100;*
	border: 1px solid #ffe5d0;
    border-radius: var(--border-radius-medium);
	color: #F5F5F5;
	/* font-family: Gilroy-Regular; *
	font-size: 18px;
	transition: .25s;
	text-transform: uppercase;
}*/
/* End input file */

#quiz .btn {
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	min-width: auto;
	height: auto;
	width: 100%;
	font-family: var(--font-family);
	text-transform: none;
	line-height: normal;
	letter-spacing: inherit;
	border-radius: var(--border-radius-small);
}

#quiz .btn:disabled {
	border-color: #c8c8c8;
	color: #c8c8c8;
}

@media (max-width: 1400px) {
	#quiz .btn {
		font-size: 12px;
	}
}

#quiz h6 {
	font-weight: 300;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	color: #323232;
}

@media (max-width: 768px) {
	#quiz .quiz-chek h6 {
		font-size: 16px;
	}
}

#quiz .quiz-chek .option_inner,
#quiz .quiz-chek .option_inner img {
	width: 16px;
	height: 16px;
	aspect-ratio: 1;
}

#quiz .quiz-chek .option_inner {
	border-radius: 0;
	flex-shrink: 0;
}

#quiz #question-4 .option_item {
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
}

#quiz .quiz-chek .checkbox:checked ~ .option_inner::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fc4a1a;
	width: 10px;
	height: 10px;
}

#quiz .container .quiz-questions-container {
    height: 536px;
    align-content: flex-start
}

@media (max-width: 768px) {
    #quiz .container .quiz-questions-container {
    height: auto;
}
}

#quiz .container .quiz-questions-container .option_item {
	width: auto;
}

.progress-bar {
	--bs-progress-bar-bg: linear-gradient(91.89deg, #fc4a1a -16.07%, #f7b733 124.94%);
	background: var(--bs-progress-bar-bg);
}

#quiz .form-control {
	border: 1px solid #fc4a1a;
	border-radius: var(--border-radius-small);
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	text-align: start;
	height: 40px;
	min-height: 40px;
}

#quiz .form-check {
	padding-left: 0;
}

#quiz .quiz-question-wrapper {
	border: 1px solid #999;
	border-radius: var(--border-radius-medium);
	background: #ffffff;
	padding: 40px 0 40px 40px;
}

@media (max-width: 1200px) {
	#quiz .quiz-question-wrapper {
		padding: 40px;
	}
}

@media (max-width: 768px) {
	#quiz .quiz-question-wrapper {
		padding: 20px;
		width: 100%;
		margin: 0 auto;
	}
}

#quiz .tel {
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	color: #4b4b4b;
    gap: 10px;
}

#quiz .img-director img {
	max-width: 150px;
	border-radius: 50%;
	border: 5px solid #e0e0e0;
}

h3.quiz-section-subtitle {
	font-weight: 700;
}

.quiz-section-subtitle span {
	color: #c8c8c8;
}

.section-title-wrapper p.section-subtitle {
	font-size: 20px;
	font-weight: 300;
}

.form-floating>.form-control-plaintext::placeholder, .form-floating>.form-control::placeholder
.form-control::placeholder {
    color: inherit;
}