/*template-parts/video-section/video-section.css */
/*** VIDEO SECTION ***/
.section-video {
	background: url(../img/ico/gorizont-line-bg.png) bottom center no-repeat;
	background-size: contain;
}

#video-container {
	max-width: 1700px;
	border-right: 1px solid rgba(153, 153, 153, 0.9);
	border-left: 1px solid rgba(153, 153, 153, 0.9);
	padding-top: 100px;
	padding-bottom: 300px;
}

#video-player {
	position: relative;
	z-index: 1;
}

#play-circle {
	width: 35%;
	height: 35%;
	background: url(../img/ico/play-circle.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 32%;
	left: 41%;
	z-index: 999;
}

#stop-circle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	color: rgba(255, 255, 255, 0.25);
	display: none;
	font-size: 50px;
	cursor: pointer;
	transition: 0.25s;
}

#stop-circle:hover {
	color: white;
}

#stop-circle i {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

#play {
	width: 35%;
	height: 35%;
	background: url(../img/ico/play.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 32%;
	left: 21%;
	cursor: pointer;
	transition: 0.25s;
}

#play:hover {
	width: 35%;
	height: 35%;
	background: url(../img/ico/play-green.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 32%;
	left: 21%;
	cursor: pointer;
	transition: 0.25s;
}

/* Адаптивные стили для видео секции */
@media (max-width: 800px) {
	#video-container {
		padding-bottom: 200px;
	}
}

@media (max-width: 600px) {
	#video-container {
		padding-bottom: 100px;
	}
}
/*** END VIDEO SECTION ***/
